<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>JSPStudy</display-name>
    <servlet>
        <servlet-name>config</servlet-name>
        <jsp-file>/configObject/config.jsp</jsp-file>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>000000</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>servlet.CheckServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet2</servlet-name>
        <servlet-class>servlet.LoginServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet3</servlet-name>
        <servlet-class>servlet.LoginServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout3</servlet-name>
        <servlet-class>servlet.servletLogout3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/checkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet2</servlet-name>
        <url-pattern>/loginServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/configObject/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet3</servlet-name>
        <url-pattern>/loginServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout3</servlet-name>
        <url-pattern>/servletLogout3</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FilterOne</filter-name>
        <filter-class>filter.FilterOne</filter-class>
        <init-param>
            <param-name>param</param-name>
            <param-value>xuexiFilterOne</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FilterOne</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterTwo</filter-name>
        <filter-class>filter.FilterTwo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterTwo</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>filter.PermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <!--单位：分钟 -->
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>