##############################
## Folders                  ##
##############################
.idea
out
target
.mvn
##############################
## Files                    ##
##############################
*.iws

*.iml

*.ipr

